body {
    user-select: none;
    text-align: center;
    background: rgb(76, 138, 61);
}

a,
a:hover,
a:visited {
    color: inherit;
}

h3,
p {
    color: white;
}

.inHandTitle {
    color: rgb(127, 255, 255);
    width: 100px !important;
    font-size: larger;
}

.InHand {
    margin: 10px 0;
}

.InHand td {
    width: 50px;
    height: 50px;
    margin: 2px;
}

/* game */
#board {
    margin: 0 auto;
    background: #000000;
}

.up {
    transform: rotate(180deg);
    background: #a2a17d;
}

#board td {
    background: rgb(202, 187, 57);
    min-width: 30px;
    width: 50px;
    height: 50px;
    margin: 2px;
}

td div.piece {
    display: grid;
    place-items: center;
    border-radius: 50% 50% 0 0;
    width: 80%;
    height: 80%;
    font-size: 120%;
    background: #fffb79;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 5px 0;
    color: white;
}

#counter {
    margin: 0 auto;
    width: 350px;
    display: flex;
    line-height: 50px;
    font-weight: bold;
    justify-content: space-between;
}

#numBlack {
    font-size: 36px;
    margin: 5px;
    width: 100px;
    height: 50px;
    background: black;
    color: white;
    border-radius: 5px;
}

#numWhite {
    font-size: 36px;
    margin: 5px;
    width: 100px;
    height: 50px;
    border: solid 1px black;
    border-radius: 5px;
}

/* end */
#restartBtn {
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    color: black;
    background: white;
}

.hide {
    display: none;
}

.selected {
    color: rgb(222, 75, 255);
}

.canput {
    background: rgb(119 119 255) !important;
}


.advanced {
    color: rgb(213, 29, 29) !important;
}